*{
  margin: 2px;
  padding: 0;
  box-sizing: border-box;
}

.prodotti{
  display: inline-block;
  position: relative;
}

.sconto{
  display: inline;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: green;
}

.sconto1{
  display: inline;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: red;
}

span{
  display: inline;
  position: absolute;
  right: 45%;
  bottom: 3%;
  display: none;
}
